p
{
	text-indent: 32px;
}
.elso
{
	font-variant: small-caps;
}
.masodik
{
	font-size: 20px;
}
.harmadik
{
	color: #800080;
}
.negyedik
{
	font-family: cursive;
}
.otodik
{
	text-shadow: 2px 2px red;
}